.order_list_container {
  background: #fff;
  padding: 28px;
  max-width: 1024px;
  border-radius: 8px;
  margin: auto;
  margin-top: 24px;
}

.order_list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.order_list_col_heading{
    font-size:12px;
    color:#1C1C1C66;
    font-weight:400
}

.order_list_title{
    font-size: 14px;
    font-weight: 600;
}

.order_table_status_cell{
  display: flex;
  align-items: center;
}
.order_list_table_row{
  padding: 0 16px;
}

.order_list_table_container {
  width: 380px;
  overflow-x: auto;
}


.user_cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ant-table-thead > tr > th {
  background: #f9f9f9;
  font-weight: 500;
}

.ant-table-tbody > tr > td {
  padding: 12px 8px;
}


@media screen and (min-width: 430px) {
  .order_list_table_container {
    width:720px;
  }
  
}

@media screen and (min-width: 768px) {
  .order_list_table_container {
    width: 100%;
  }
  
}