.top_selling_product_coloumn_title{
    color: #1C1C1C66;
    font-size: 12px;
    font-weight: 400;
}

.top_selling_product_row{
    color: #1C1C1C;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}