.center_nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 16px;
  border-bottom: 0.5px solid;
}

.center_nav_left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.center_nav_right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.icon_btn {
  background: none;
  border: none;
  padding: 4px;
  cursor: pointer;
}

.menu_icon {
  width: 18px;
  height: 18px;
}

.nav_icon {
  font-size: 16px;
  color: var(--color);
  cursor: pointer;
  transition: color 0.2s ease;
}

.nav_icon:hover,.menu_icon:hover {
  color: #3ebfdd;
}

.nav_search {
  width: 160px;
  background:#fff;
  border: none;
  border-radius: 6px;
  color: #ddd;
}

.nav_search input {
  background: transparent !important;
  color: #ddd !important;
}

.shortcut {
  font-size: 11px;
  /* color: #666; */
}

.nav_breadcrumb{
  display: none;
}

@media screen and (min-width: 500px) {
  .nav_breadcrumb{
    display: block;
  }
}