@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background: #fff;
    position: relative;
    min-height: 100vh;
    border-color: rgba(255, 255, 255, 0.1);
}

body.dark * {
    background: #0f0e0eed;
    color: #ddd;
    border-color: #dddddd5d;
}